<ul>
    {{#each albums}}
        <li>
            {{this.name}}
            {{#if this.images}}
                <img src="{{this.images.0.url}}" alt="{{this.name}}">
            {{/if}}
            <a href="/tracks/{{this.id}}">View Tracks</a>
        </li>
    {{/each}}
</ul>


